*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: Bold;
    src: url('../fonts/inter/Inter-Bold.ttf');
}

@font-face {
    font-family: Medium;
    src: url('../fonts/inter/Inter-Medium.ttf');
}

@font-face {
    font-family: Regular;
    src: url('../fonts/inter/Inter-Regular.ttf');
}

@font-face {
    font-family: SemiBold;
    src: url('../fonts/inter/Inter-SemiBold.ttf');
}

@font-face {
    font-family: Light;
    src: url('../fonts/inter/Inter-Light.ttf');
}